
.btn {
    &--primary {
        font-size: 1.8rem;
        padding: 1rem 7rem;
        color: #479DE9;
        background-color: #fff;
        border: none;
        border-radius: 50px;
        align-items: center;
        border: 2px solid #A6DCEF;
    
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.2);
        }

        &:focus {
            outline: 0;
            box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: scale(1);
        }

        &:disabled {
            color: #aaa;
            border: 2px solid #eee;
            pointer-events: none;

            &:hover,
            &:focus {
                transform: scale(1);
                box-shadow: none;
            }
        }

    }
}
